In [3]:
import requests
import pandas as pd
import time
from datetime import datetime

In [43]:
# API endpoints
endpoints = {
    'deepinfra': 'https://devone.aplikasi.web.id/one-api/test/T_ocr/llama_11b',
    'qwen': 'https://devone.aplikasi.web.id/one-api/test/T_ocr/qwen_vl_plus_2',
    'qwen2_vl72': 'https://devone.aplikasi.web.id/one-api/test/T_ocr/qwen2_vl_72b',
    'gemini_flash': 'https://devone.aplikasi.web.id/one-api/test/T_ocr/gemini_flash2'
}

# Initialize lists to store results
results = []

# Test each endpoint 5 times
for endpoint_name, url in endpoints.items():
    tes = 1
    for i in range(5):
        try:
            # Record start time
            start_time = time.time()
            
            # Make API request
            print(f"GET Request for {url} ke-{tes} ")
            tes=tes+1
            response = requests.get(url)
            
            # Calculate response time
            response_time = time.time() - start_time
            
            # Parse response
            json_response = response.json()
            
            # Extract required information
            result = {
                'timestamp': datetime.now().strftime('%Y-%m-%d %H:%M:%S'),
                'endpoint': endpoint_name,
                'attempt': i + 1,
                'response_time': round(response_time, 3),
                'prompt_tokens': json_response['info']['prompt_tokens'],
                'completion_tokens': json_response['info']['completion_tokens'],
                'total_tokens': json_response['info']['total_tokens'],
                'nik': json_response['data']['nik'],
                'nama': json_response['data']['nama'],
                'data': json_response['data'],
                'status': 'success'
            }
            
        except Exception as e:
            # Handle any errors
            result = {
                'timestamp': datetime.now().strftime('%Y-%m-%d %H:%M:%S'),
                'endpoint': endpoint_name,
                'attempt': i + 1,
                'response_time': None,
                'prompt_tokens': None,
                'completion_tokens': None,
                'total_tokens': None,
                'nik': None,
                'nama': None,
                'data': json_response,
                'status': f'error: {str(e)}'
            }
            
        results.append(result)
        time.sleep(1)  # Add delay between requests

# Convert results to DataFrame
df = pd.DataFrame(results)

GET Request for https://devone.aplikasi.web.id/one-api/test/T_ocr/llama_11b ke-1
GET Request for https://devone.aplikasi.web.id/one-api/test/T_ocr/llama_11b ke-2
GET Request for https://devone.aplikasi.web.id/one-api/test/T_ocr/llama_11b ke-3
GET Request for https://devone.aplikasi.web.id/one-api/test/T_ocr/llama_11b ke-4
GET Request for https://devone.aplikasi.web.id/one-api/test/T_ocr/llama_11b ke-5
GET Request for https://devone.aplikasi.web.id/one-api/test/T_ocr/qwen_vl_plus_2 ke-1
GET Request for https://devone.aplikasi.web.id/one-api/test/T_ocr/qwen_vl_plus_2 ke-2
GET Request for https://devone.aplikasi.web.id/one-api/test/T_ocr/qwen_vl_plus_2 ke-3
GET Request for https://devone.aplikasi.web.id/one-api/test/T_ocr/qwen_vl_plus_2 ke-4
GET Request for https://devone.aplikasi.web.id/one-api/test/T_ocr/qwen_vl_plus_2 ke-5
GET Request for https://devone.aplikasi.web.id/one-api/test/T_ocr/qwen2_vl_72b ke-1
GET Request for https://devone.aplikasi.web.id/one-api/test/T_ocr/qwen2_vl_72b ke-2
GET Request for https://devone.aplikasi.web.id/one-api/test/T_ocr/qwen2_vl_72b ke-3
GET Request for https://devone.aplikasi.web.id/one-api/test/T_ocr/qwen2_vl_72b ke-4
GET Request for https://devone.aplikasi.web.id/one-api/test/T_ocr/qwen2_vl_72b ke-5
GET Request for https://devone.aplikasi.web.id/one-api/test/T_ocr/gemini_flash2 ke-1
GET Request for https://devone.aplikasi.web.id/one-api/test/T_ocr/gemini_flash2 ke-2
GET Request for https://devone.aplikasi.web.id/one-api/test/T_ocr/gemini_flash2 ke-3
GET Request for https://devone.aplikasi.web.id/one-api/test/T_ocr/gemini_flash2 ke-4
GET Request for https://devone.aplikasi.web.id/one-api/test/T_ocr/gemini_flash2 ke-5

In [44]:
# Calculate and display summary statistics
summary = df[df['status'] == 'success'].groupby('endpoint').agg({
    'response_time': ['mean', 'min', 'max', 'std'],
    'total_tokens': ['mean', 'min', 'max', 'std']
}).round(3)

print("\nSummary Statistics:")
print(summary)

Summary Statistics:
             response_time                        total_tokens          \
                      mean    min     max     std         mean     min
endpoint
deepinfra            5.754  5.754   5.754     NaN      3391.00  3391.0
gemini_flash         3.380  3.079   4.066   0.407      2004.60  1993.0
qwen                 2.409  2.234   2.621   0.183       546.00   546.0
qwen2_vl72          19.688  7.320  32.843  10.750       254.75   224.0


                 max     std
endpoint
deepinfra     3391.0     NaN
gemini_flash  2025.0  12.896
qwen           546.0   0.000
qwen2_vl72     281.0  23.922

In [10]:
# Save results to CSV
version = 4
file_name = f"compare_ocr_api{version}.csv"

In [45]:
df.to_csv(file_name, index=False)
print(f"\nDetailed results saved to {file_name}")

Detailed results saved to compare_ocr_api4.csv

## **Price Processing**

In [16]:
data = pd.read_csv(f'ai-inacbg/ocr-test/{file_name}')
# DEEPINFRA Price
deepinfra_total = 0.055 / 1000000
# QWEN Plus Price
qwenplus_input = 0
qwenplus_output = 0
# QWEN2 VL72 Price
qwen2vl72_input = 0.4/1000000
qwen2vl72_output = 0.4/1000000
# GEMINI FLASH Price
gemini_flash_input = 0.15/1000000
gemini_flash_output = 0.6/1000000

data

,timestamp,endpoint,attempt,response_time,prompt_tokens,completion_tokens,total_tokens,nik,nama,data,status
0,2025-02-18 19:07:32,deepinfra,1,NaN,NaN,NaN,NaN,NaN,NaN,"{'status': 'OK', 'data': {'nik': '210504260495...",error: 'nama'
1,2025-02-18 19:07:39,deepinfra,2,5.754,3237.0,154.0,3391.0,2.105043e+15,BENI AFRIANTO,"{'nik': '2105042604950001', 'nama': 'BENI AFRI...",success
2,2025-02-18 19:07:48,deepinfra,3,NaN,NaN,NaN,NaN,NaN,NaN,"{'status': 'OK', 'data': {'nik': '210504260495...",error: 'nama'
3,2025-02-18 19:07:56,deepinfra,4,NaN,NaN,NaN,NaN,NaN,NaN,"{'status': 'OK', 'data': {'nik': '210504260495...",error: 'nama'
4,2025-02-18 19:08:00,deepinfra,5,NaN,NaN,NaN,NaN,NaN,NaN,"{'status': 'OK', 'data': {'the_text_from_the_i...",error: 'nama'
5,2025-02-18 19:08:04,qwen,1,2.593,390.0,156.0,546.0,2.105043e+15,BENI AFRIANTO,"{'nik': '2105042604950001', 'nama': 'BENI AFRI...",success
6,2025-02-18 19:08:07,qwen,2,2.621,390.0,156.0,546.0,2.105043e+15,BENI AFRIANTO,"{'nik': '2105042604950001', 'nama': 'BENI AFRI...",success
7,2025-02-18 19:08:10,qwen,3,2.234,390.0,156.0,546.0,2.105043e+15,BENI AFRIANTO,"{'nik': '2105042604950001', 'nama': 'BENI AFRI...",success
8,2025-02-18 19:08:14,qwen,4,2.281,390.0,156.0,546.0,2.105043e+15,BENI AFRIANTO,"{'nik': '2105042604950001', 'nama': 'BENI AFRI...",success
9,2025-02-18 19:08:17,qwen,5,2.318,390.0,156.0,546.0,2.105043e+15,BENI AFRIANTO,"{'nik': '2105042604950001', 'nama': 'BENI AFRI...",success
10,2025-02-18 19:08:40,qwen2_vl72,1,22.486,46.0,205.0,251.0,2.105043e+15,BENI AFRIANTO,"{'nik': '2105042604950001', 'nama': 'BENI AFRI...",success
11,2025-02-18 19:08:49,qwen2_vl72,2,7.320,46.0,235.0,281.0,2.105043e+15,BENI AFRIANTO,"{'nik': '2105042604950001', 'nama': 'BENI AFRI...",success
12,2025-02-18 19:09:23,qwen2_vl72,3,32.843,46.0,178.0,224.0,2.105043e+15,BENI AFRIANTO,"{'nik': '2105042604950001', 'nama': 'BENI AFRI...",success
13,2025-02-18 19:09:51,qwen2_vl72,4,NaN,NaN,NaN,NaN,NaN,NaN,"{'status': 'OK', 'data': {'name': 'BENI AFRIAN...",error: 'nama'
14,2025-02-18 19:10:08,qwen2_vl72,5,16.102,46.0,217.0,263.0,2.105043e+15,BENI AFRIANTO,"{'nik': '2105042604950001', 'nama': 'BENI AFRI...",success
15,2025-02-18 19:10:13,gemini_flash,1,4.066,1835.0,159.0,1994.0,2.105043e+15,BENI AFRIANTO,"{'nik': '2105042604950001', 'nama': 'BENI AFRI...",success
16,2025-02-18 19:10:17,gemini_flash,2,3.248,1835.0,170.0,2005.0,2.105043e+15,BENI AFRIANTO,"{'nik': '2105042604950001', 'nama': 'BENI AFRI...",success
17,2025-02-18 19:10:21,gemini_flash,3,3.079,1835.0,158.0,1993.0,2.105043e+15,BENI AFRIANTO,"{'nik': '2105042604950001', 'nama': 'BENI AFRI...",success
18,2025-02-18 19:10:25,gemini_flash,4,3.093,1835.0,171.0,2006.0,2.105043e+15,BENI AFRIANTO,"{'nik': '2105042604950001', 'nama': 'BENI AFRI...",success
19,2025-02-18 19:10:30,gemini_flash,5,3.414,1835.0,190.0,2025.0,2.105043e+15,BENI AFRIANTO,"{'nik': '2105042604950001', 'nama': 'BENI AFRI...",success

In [24]:
# Add 'cost' column by multiplying input + output token count with respective price
data['cost'] = data.apply(lambda row: 
                          deepinfra_total * row['total_tokens'] if row['endpoint'] == 'deepinfra' else
                          qwenplus_input * row['prompt_tokens'] + qwenplus_output * row['completion_tokens'] if row['endpoint'] == 'qwen' else
                          qwen2vl72_input * row['prompt_tokens'] + qwen2vl72_output * row['completion_tokens'] if row['endpoint'] == 'qwen2_vl72' else
                          gemini_flash_input * row['prompt_tokens'] + gemini_flash_output * row['completion_tokens'] if row['endpoint'] == 'gemini_flash' else
                          0, axis=1)
                          
# Change endpoint name from deepinfra to LlamaV11B(DeepInfra)
data['endpoint'] = data['endpoint'].apply(lambda x: 'LlamaV11B(DeepInfra)' if x == 'deepinfra' else x)
data['endpoint'] = data['endpoint'].apply(lambda x: 'QwenVLPlus(Alibaba)' if x == 'qwen' else x)
data['endpoint'] = data['endpoint'].apply(lambda x: 'Qwen2VL72(Openrouter)' if x == 'qwen2_vl72' else x)
data['endpoint'] = data['endpoint'].apply(lambda x: 'GeminiFlash(Openrouter)' if x == 'gemini_flash' else x)

data

,timestamp,endpoint,attempt,response_time,prompt_tokens,completion_tokens,total_tokens,nik,nama,data,status,cost
0,2025-02-18 19:07:32,LlamaV11B(DeepInfra),1,NaN,NaN,NaN,NaN,NaN,NaN,"{'status': 'OK', 'data': {'nik': '210504260495...",error: 'nama',NaN
1,2025-02-18 19:07:39,LlamaV11B(DeepInfra),2,5.754,3237.0,154.0,3391.0,2.105043e+15,BENI AFRIANTO,"{'nik': '2105042604950001', 'nama': 'BENI AFRI...",success,0.000187
2,2025-02-18 19:07:48,LlamaV11B(DeepInfra),3,NaN,NaN,NaN,NaN,NaN,NaN,"{'status': 'OK', 'data': {'nik': '210504260495...",error: 'nama',NaN
3,2025-02-18 19:07:56,LlamaV11B(DeepInfra),4,NaN,NaN,NaN,NaN,NaN,NaN,"{'status': 'OK', 'data': {'nik': '210504260495...",error: 'nama',NaN
4,2025-02-18 19:08:00,LlamaV11B(DeepInfra),5,NaN,NaN,NaN,NaN,NaN,NaN,"{'status': 'OK', 'data': {'the_text_from_the_i...",error: 'nama',NaN
5,2025-02-18 19:08:04,QwenVLPlus(Alibaba),1,2.593,390.0,156.0,546.0,2.105043e+15,BENI AFRIANTO,"{'nik': '2105042604950001', 'nama': 'BENI AFRI...",success,0.000000
6,2025-02-18 19:08:07,QwenVLPlus(Alibaba),2,2.621,390.0,156.0,546.0,2.105043e+15,BENI AFRIANTO,"{'nik': '2105042604950001', 'nama': 'BENI AFRI...",success,0.000000
7,2025-02-18 19:08:10,QwenVLPlus(Alibaba),3,2.234,390.0,156.0,546.0,2.105043e+15,BENI AFRIANTO,"{'nik': '2105042604950001', 'nama': 'BENI AFRI...",success,0.000000
8,2025-02-18 19:08:14,QwenVLPlus(Alibaba),4,2.281,390.0,156.0,546.0,2.105043e+15,BENI AFRIANTO,"{'nik': '2105042604950001', 'nama': 'BENI AFRI...",success,0.000000
9,2025-02-18 19:08:17,QwenVLPlus(Alibaba),5,2.318,390.0,156.0,546.0,2.105043e+15,BENI AFRIANTO,"{'nik': '2105042604950001', 'nama': 'BENI AFRI...",success,0.000000
10,2025-02-18 19:08:40,Qwen2VL72(Openrouter),1,22.486,46.0,205.0,251.0,2.105043e+15,BENI AFRIANTO,"{'nik': '2105042604950001', 'nama': 'BENI AFRI...",success,0.000100
11,2025-02-18 19:08:49,Qwen2VL72(Openrouter),2,7.320,46.0,235.0,281.0,2.105043e+15,BENI AFRIANTO,"{'nik': '2105042604950001', 'nama': 'BENI AFRI...",success,0.000112
12,2025-02-18 19:09:23,Qwen2VL72(Openrouter),3,32.843,46.0,178.0,224.0,2.105043e+15,BENI AFRIANTO,"{'nik': '2105042604950001', 'nama': 'BENI AFRI...",success,0.000090
13,2025-02-18 19:09:51,Qwen2VL72(Openrouter),4,NaN,NaN,NaN,NaN,NaN,NaN,"{'status': 'OK', 'data': {'name': 'BENI AFRIAN...",error: 'nama',NaN
14,2025-02-18 19:10:08,Qwen2VL72(Openrouter),5,16.102,46.0,217.0,263.0,2.105043e+15,BENI AFRIANTO,"{'nik': '2105042604950001', 'nama': 'BENI AFRI...",success,0.000105
15,2025-02-18 19:10:13,GeminiFlash(Openrouter),1,4.066,1835.0,159.0,1994.0,2.105043e+15,BENI AFRIANTO,"{'nik': '2105042604950001', 'nama': 'BENI AFRI...",success,0.000371
16,2025-02-18 19:10:17,GeminiFlash(Openrouter),2,3.248,1835.0,170.0,2005.0,2.105043e+15,BENI AFRIANTO,"{'nik': '2105042604950001', 'nama': 'BENI AFRI...",success,0.000377
17,2025-02-18 19:10:21,GeminiFlash(Openrouter),3,3.079,1835.0,158.0,1993.0,2.105043e+15,BENI AFRIANTO,"{'nik': '2105042604950001', 'nama': 'BENI AFRI...",success,0.000370
18,2025-02-18 19:10:25,GeminiFlash(Openrouter),4,3.093,1835.0,171.0,2006.0,2.105043e+15,BENI AFRIANTO,"{'nik': '2105042604950001', 'nama': 'BENI AFRI...",success,0.000378
19,2025-02-18 19:10:30,GeminiFlash(Openrouter),5,3.414,1835.0,190.0,2025.0,2.105043e+15,BENI AFRIANTO,"{'nik': '2105042604950001', 'nama': 'BENI AFRI...",success,0.000389

In [25]:
data.to_csv(f'ai-inacbg/ocr-test/{file_name}', index=False)
print(f"\nDetailed results saved to {file_name}")

Detailed results saved to compare_ocr_api4.csv