In [2]:
import pandas as pd
icd10 = pd.read_csv('ICD10codes.csv', header=None)

In [3]:
def add_dot(s):
    return s[:3]+'.'+s[3:]

for i in range(len(icd10)):
    if len(icd10[0].iloc[i])>3:
        icd10.loc[i, 4] = icd10[4].iloc[i] + ', ' + icd10[5].iloc[i]
        icd10.loc[i, 2] = add_dot(icd10[2].iloc[i])

icd10 = icd10.drop([0,1,3,5], axis=1)
icd10 = icd10.set_axis(['icd10_code', 'diagnoses'], axis=1)

for i in range(len(icd10)):
    if '.' not in icd10['icd10_code'].iloc[i]:
        icd10.loc[i, 'icd10_code'] = add_dot(icd10['icd10_code'].iloc[i])

In [4]:
icd10.to_csv('labeled_icd10_flanT5.csv', index=False)
labeled_icd10 = pd.read_csv('labeled_icd10_flanT5.csv', header=0)

In [5]:
df = pd.read_csv('labeled_icd10_flanT5.csv', header=0)
df

      icd10_code                                          diagnoses
0          A00.0  Cholera due to Vibrio cholerae 01, biovar chol...
1          A00.1    Cholera due to Vibrio cholerae 01, biovar eltor
2          A00.9                               Cholera, unspecified
3         A01.00          Typhoid fever, unspecified, Typhoid fever
4         A01.01                  Typhoid meningitis, Typhoid fever
...          ...                                                ...
71699     Z99.12  Encounter for respirator [ventilator] dependen...
71700      Z99.2  Dependence on renal dialysis, Dependence on re...
71701      Z99.3  Dependence on wheelchair, Dependence on wheelc...
71702     Z99.81  Dependence on supplemental oxygen, Dependence ...
71703     Z99.89  Dependence on other enabling machines and devi...

[71704 rows x 2 columns]

In [7]:
import json

with open('labeled_icd10_flanT5.jsonl', 'w') as f:
    for _, row in df.iterrows():
        entry = {
            "prompt": f"Diagnosis: {row['diagnoses']}\nICD-10-CM Code:",
            "completion": row['icd10_code']
        }
        f.write(json.dumps(entry) + '\n')

In [13]:
# print index 1 json result
with open('labeled_icd10_flanT5.jsonl', 'r') as f:
    for i, line in enumerate(f):
        if i == 1:
            print(line)
            break

{"prompt": "Diagnosis: Cholera due to Vibrio cholerae 01, biovar eltor\nICD-10-CM Code:", "completion": "A00.1"}

In [12]:
import pandas as pd

# Read the JSONL file
df_jsonl = pd.read_json('labeled_icd10_flanT5.jsonl', lines=True)

df_jsonl

                                                  prompt completion
0      Diagnosis: Cholera due to Vibrio cholerae 01, ...      A00.0
1      Diagnosis: Cholera due to Vibrio cholerae 01, ...      A00.1
2       Diagnosis: Cholera, unspecified\nICD-10-CM Code:      A00.9
3      Diagnosis: Typhoid fever, unspecified, Typhoid...     A01.00
4      Diagnosis: Typhoid meningitis, Typhoid fever\n...     A01.01
...                                                  ...        ...
71699  Diagnosis: Encounter for respirator [ventilato...     Z99.12
71700  Diagnosis: Dependence on renal dialysis, Depen...      Z99.2
71701  Diagnosis: Dependence on wheelchair, Dependenc...      Z99.3
71702  Diagnosis: Dependence on supplemental oxygen, ...     Z99.81
71703  Diagnosis: Dependence on other enabling machin...     Z99.89

[71704 rows x 2 columns]